ion-content {
  display: flex;
  justify-content: center;
  text-align: center;
}
ion-img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  filter: brightness(85%);
}

ion-modal {
  color: white;
}
ion-modal .ion-page {
  transform: translateY(-50%);
  top: 50%;
}
.modal-content {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  color: white;
}

.modal-content ion-img {
  width: 30%;
  height: 30%;
  margin: 5% auto;
}

.modal-content .card-header--submit {
  text-align: center;
}

.modal-content .modal__close-button {
  margin-top: 20px;
}
.modal-content ion-item {
  margin: 10 0;
}
.modal-content ion-title {
  margin-bottom: 10px;
}

.modal-content ion-card-content {
  margin: 0 auto;
}

.form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form__container .modal__close-button {
  padding: 0 2rem;
  margin: 1rem 0;
}

.input-tm {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.05);
  margin: 25px 0;
  border-radius: 10px;
  font-size: 19px;
}

.input-btn {
  letter-spacing: 2px;
}

.tm-title {
  font-size: 30px;
}

.container {
  max-width: 90%;
  margin: 70px auto;
}

ion-title ion-label {
  margin-left: 45%;
}

.bottom-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 0.5rem;
}

.google-button {
  border-width: 0;
  background: #737373;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  cursor: pointer;
  padding: 0 10px;
}
.google-button:focus,
.google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background: #e5e5e5;
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}
.google-button {
  background: white;
}
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  margin-right: 10px;
}
.google-button__icon--plus {
  width: 27px;
}

.button__list {
  display: "flex";
  justify-content: center;
}
